[submodule "kexec-tools"]
	path = kexec-tools
	url = https://github.com/Tasssadar/kexec-tools
[submodule "adbd"]
	path = adbd
	url = https://github.com/multirom-nexus6p/multirom_adbd.git
[submodule "kexec-tools-arm64"]
	path = kexec-tools-arm64
	url = https://github.com/multirom-nexus6p/kexec-tools.git
